body{
  margin:auto;
  width:100%;
  padding:50px;
}
.App {
  text-align: center;
}



.add-user-form{
  display:flex;
  gap:25px;
  flex-direction: column;
  align-items: center;
  width:100%;
  padding:100px 100px;
}
.add-user-name{
  width:400px;
  height:50px;
  /* margin-top: 10px; */
}
.add-user-btn{
  width:400px;
  height:50px;
  font-size: 20px;;
  background-color:skyblue;
  /* margin-top: 10px; */
}

.NotFoundImg{

  display:flex;
  gap:25px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
img.displayed {
  display: block;
  height:600px;
  width: 800px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto 
}
@media screen and (max-width:768px){
  
  .add-user-name{
    width:250px;
    /* margin-top: 10px; */
  }
  .add-user-btn{
    width:250px;
  }

}
.mainContainer{
  align-items: center;
}
.SimpleSelect{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding:50px 20px;
}
.SimpleButton{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding:50px 20px;
}